/* MEDIA QUERIES */

/* .container {
    display: flex;
}

.container .item {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 1em;
}

@media (max-width: 550px) {
    .container {
        flex-direction: column;
    }
    .container .item {
        background-color: red;
    }
} */

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 1em;
}

/* .container > .row:first-of-type {
    min-height: 100vh;
} */
